
<div class="requests-container">
  <h2 class="section-name">Requests for my home</h2>
  <hr class="row-divider">
  <% @requests.each do |request| %>
    <h3><%= request.tenant.user.firstname %> <% request.tenant.user.lastname %> has requested to book your home from</h3>
    <span><%= request.checkin.strftime("%B %d, %Y") %> to <%= request.checkout.strftime("%B %d, %Y") %></span>
    <div class="accept-buttons-container">
      <div class="accept-button-container">
        <% if request.pending %>
          <%= link_to home_listing_booking_request_path[request.home_listing, request] do %>
            <span> "View this request", class:"btn accept" %> </span>
          <% end %>
        <% else %>
          <span class="btn" id="accepted">Accepted!</span>
        <% end %>
      </div>
      <button class="btn reject" data-confirm="Deny this booking request?">Remove this request</button>
    </div>
    <hr class="row-divider">
  <% end %>
  
  <h2 class="section-name">My booking requests</h2>
  <hr class="row-divider">
  
  <% @tenant_requests.each do |request| %>
    <% if request.pending == false %>
      <h3>You've requested to book <%= request.home_listing.title %> for</h3>
      $<div id="price" style="display: inline-block;"><%= request.home_listing.price %></div> per Night,
      <big>from <%= request.checkin.strftime("%B %d, %Y") %> to <%= request.checkout.strftime("%B %d, %Y") %></big>
      <div class="accept-buttons-container">
        <div class="accept-button-container">
          <%= link_to "Make the Payment", new_charge_path, id: "payment-btn" %>
          <script>
            var handler = StripeCheckout.configure({
              key: "<%= Rails.configuration.stripe[:publishable_key] %>",
              name: "<%= request.home_listing.title %>",
              description: 'One-time payment',
              token: function(token) {
              $('input#stripeToken').val(token.id);
              $('form').submit();
              }
            });
          </script>
        </div>
        <button class="btn reject" data-confirm="Cancel this booking request?">Remove this request</button>
      </div>
      <hr class="row-divider">
    <% else %>
      <h3>You've requested to book <%= request.home_listing.title %> from</h3>
      <span><%= request.checkin.strftime("%B %d, %Y") %> to <%= request.checkout.strftime("%B %d, %Y") %></span>
      <div class="accept-buttons-container">
        <span class="request-waiting">Request not approved yet!</span>
        <button class="btn reject" data-confirm="Cancel this booking request?">Remove this request</button>
      </div>
      <hr class="row-divider">
    <% end %>
  <% end %>
</div>
