<div class="modal fade" id="sign_up">
  <div class="modal-dialog">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">x</button>
      <h2>Sign Up</h2>
    </div>
      <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field">
          <%= f.label :email do %>
            <h3>Email</h3>
          <% end %>
          <%= f.email_field :email, autofocus: true, class: "modal-text-input" %>
        </div>
        
        <div class="field">
          <%= f.label :firstname do %>
            <h3>First Name</h3>
          <% end %>
          <%= f.text_field :firstname, class: "modal-text-input" %>
        </div>
        
        <div class="field">
          <%= f.label :lastname do %>
            <h3>Last Name</h3>
          <% end %>
          <%= f.text_field :lastname, class: "modal-text-input" %>
        </div>
      
        <div class="field">
          <%= f.label :password do %>
            <h3>Password</h3>
          <% end %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "modal-text-input"%>
        </div>
      
        <div class="actions">
          <%= f.submit "Sign up", class: "submit-btn-modal" %>
        </div>
      <% end %>
      </div>
    <div class="modal-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
