<div class="room-show-container">
  <div class="room-cover-photo">
    <div class="view-photos-btn-container">
      <button class="view-photos-btn" onclick="openModal();">
        View Photos
      </button>
    </div>
  </div>
  <div id="room-modal" class="room-photos-modal">
    <span class="modal-close" onclick="closeModal()">x</span>
    <div class="modal-content">
      <div class="roomSlide">
        <div class="slide-number">1/2</div>
        <img src="<%= asset_path('house.png') %>">
      </div>
      <div class="roomSlide">
        <div class="slide-number">2/2</div>
        <img src="<%= asset_path('house1.png') %>">
      </div>
    </div>
    <a class="prev-photo" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next-photo" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div class="content-container">
    <div class="two-thirds-container">
      <div class="room-nav-container">
        <div class="room-nav-bar">
          <a href="#">
            <span id="focus">Overview</span>
          </a>
          <a href="#">
            <span>The host</span>
          </a>
          <a href="#">
            <span>Review</span>
          </a>
          <a href="#">
            <span>Location</span>
          </a>
        </div>
      </div>
      <div class="summary section">
        <div class="name-section">
          <div class="room-name">
            <%= @listing.title %>
          </div>
          <div class="room-address">
            <small><%= @listing.address.city %>, <%= @listing.address.country %></small>
          </div>
        </div>
        <div class="host-avatar">
          <div class="host-icon"></div>
          <div class="host-name"></div>
        </div>
      </div>
      <hr class="row-divider">
      <div class="room-details">
      </div>
    </div>
    <div class="one-third-container">
      <div class="booking-container">
        <div class="booking-price-container">
          <div class="booking-price">
            <span>
              <% if @listing.price %>
                $<%= @listing.price %> per night
              <% else %>
                No price has been set yet!
              <% end %>
            </span>
          </div>
        </div>
        <div class="booking-form">
          <%= form_for [@listing, @booking] do |f| %>
            <div class="booking-input-row">
              <div class="booking-col-full">
                <%= label_tag :daterange, "Select your dates" %>
                <%= text_field_tag :daterange %>
                <%= f.hidden_field :checkin %>
                <%= f.hidden_field :checkout %>
                <%= hidden_field_tag :num_days %>
              </div>
            </div>
            <div class="booking-input-row">
              <div class="booking-col-full">
                <label class="guest-input-label">Guests</label>
                <%= f.label :party_size, class: 'guest-input-label' %>
                <%= f.number_field :party_size, class: 'guest-input' , min: 0 %>
              </div>
            </div>
            <div class="booking-input-row">
              <%= f.submit "Request to book", class: 'btn btn-primary btn-large btn-block' %>
            </div>
          <% end %>
          <div class="message">
            <small>You won't be charged yet</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
