<!DOCTYPE html>
<html>
<head>
  <title>Airbb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>
<body>
  <%= render "welcome/login_modal" %>
  <%= render "welcome/sign_up_modal" %>
  <div class="nav-bar">
    <div class="brand-container">
      <div class="logo-container">
        <a href="<%= home_listings_path %>">
          <i class="ion-android-plane brand-logo"></i>
        </a>
      </div>
    </div>
    <div class="user-links">
      <div class="links-container">
        <ul class="links-list">
          <% if current_user %>
            <% if (current_user.lessor && current_user.lessor.home_listing) %>
              <li>
                <div class="list-button">
                  <div class="button-container">
                    <%= link_to home_listing_booking_requests_path(current_user.lessor.home_listing) do %>
                      <span>Booking Requests</span>
                    <% end %>
                    <%= link_to edit_home_listing_path(current_user.lessor.home_listing) do %>
                      <span>Edit My Listing</span>
                    <% end %>
                  </div>
                </div>
              </li>
            <% elsif (current_user.tenant && current_user.tenant.booking_requests.any?) %>
              <li>
                <div class="list-button">
                  <div class="button-container">
                    <%= link_to home_listing_booking_requests_path(current_user.tenant.booking_requests.last.home_listing) do %>
                      <span>Booking Requests</span>
                    <% end %>
                  </div>
                </div>
                <li>
                <div class="list-button">
                  <div class="button-container">
                    <%= link_to build_path(:place_type) do %>
                      <span>Become a Host</span>
                    <% end %>
                  </div>
                </div>
              </li>
              </li>
            <% else %>
              <li>
                <div class="list-button">
                  <div class="button-container">
                    <%= link_to build_path(:place_type) do %>
                      <span>Become a Host</span>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% else %>
              <li>
                <div class="list-button">
                  <div class="button-container">
                    <a href="#sign_up", data-toggle="modal">
                      <span>Become a Host</span>
                    </a>
                  </div>
                </div>
              </li>
          <% end %>
          <li>
            <div class="list-button">
              <div class="button-container">
                <a href="welcome#help", data-toggle="modal">
                  <span>Help</span>
                </a>
              </div>
            </div>
          </li>
          <% if current_user %>
            <li>
              <div class="list-button">
                <div class="button-container">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span>Sign Out</span>
                  <% end %>
                </div>
              </div>
            </li>
          <% else %>
            <li>
              <div class="list-button">
                <div class="button-container">
                  <a href="#sign_up", data-toggle="modal">
                    <span>Sign Up</span>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-button">
                <div class="button-container">
                  <a href="#login", data-toggle="modal">
                    <span>Log In</span>
                  </a>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  

  <%= yield %>
</body>
</html>
